section {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color:rgba(129, 92, 62, 0.4);
    border: solid 1px brown;
    width: 300px;
    margin:  25px 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h4{
    background-color: rgb(165, 81, 42);
    font-size: 18px;
    color: rgb(0, 0, 0);
}

div.typeRace{
    font-size: 16px;
    margin-left: 25px;
}
p.type{
    background-color: darkgrey;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
}
p.race{
    background-color: thistle;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
}
img{
    margin: 10px 50px;
    max-height: 246px;
}